.superadminlayout {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #f4f4f4;
}

@media (max-width: 768px) {
    .superadminlayout {
        display: block;
        padding-bottom: 72px;
    }
}
