.superadmindashboardtotals {
  flex-wrap: wrap;
}

.totalteachercard {
  background-color: #ff3338;
}

.superadmindashboardmessage {
  margin: 18px 30px 0 0;
  color: #c40000;
  text-align: center;
}

@media (max-width: 768px) {
  .superadmindashboardmessage {
    margin-right: 0;
  }
}
