.superadmindashboardtotals {
  flex-wrap: wrap;
}

.totalteachercard {
  background: linear-gradient(
    135deg,
    #b63138 0%,
    #c56a6f 100%
  );
}

.superadmindashboardmessage {
  margin: 18px 30px 0 0;
  color: #c40000;
  text-align: center;
}

@media (max-width: 768px) {
  .superadmindashboardmessage {
    margin-right: 0;
  }
}
