.teacherlayout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .teacherlayout {
    display: block;
    padding-bottom: 72px;
  }
}
